@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<h1>@HttpContextAccessor.HttpContext.Session.GetString("name")</h1>


<h2>****************************** viewbag information************************************</h2>
<h3>@ViewBag.id</h3>
<h3>@ViewBag.name</h3>
<h3>@ViewBag.email</h3>
<h3>@ViewBag.designation</h3>
<ul>

    @foreach (var item in ViewBag.list)
    {
        <li>
            @item
        </li>

    }

</ul>
<h2>****************************** viewdata information************************************</h2>
<h3>@ViewData["abc1"]</h3>
<h3>@ViewData["abc2"]</h3>
<h3>@ViewData["abc3"]</h3>
<h3>@ViewData["abc4"]</h3>
<h3>@ViewData["abc5"]</h3>

<ul>
    @foreach (var ath in (List<string>)ViewData["abc"])
    {
        <li>
            @ath
        </li>
    }
</ul>
<h2>>****************************** tempdata information************************************</h2>
<h3>@TempData["abc"]</h3>
<h3>@TempData["abc1"]</h3>
<h3>@TempData["abc2"]</h3>
<h3>@TempData["abc3"]</h3>
<h3>@TempData["abc4"]</h3>
<ul>
    @foreach (var cri in (List<string>)TempData["er"])
    {
        <li>
            @cri
        </li>
    }
</ul>
